.content h1 {
  color: #ff5252;
  font-weight: 200; }

.content #main_chat {
  height: 400px;
  color: #ff5252; }

.modal {
  width: 30%;
  color: #ff5252; }
  .modal h4 {
    color: #4db6ac;
    font-weight: 300; }
